body {
  background-color: #d0eae7;
  height: 100%;
}

header {
  color: #333;
  padding: 5px 0;
  text-align: left;
  margin-left: 50px;
  font-family: calibri;
  font-size: 1.8rem;
  position: fixed;
}

img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -95px;
  left: 300px;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
  
  img {
    display: block; /* Ensure the image is displayed as a block element */
    margin: 10px auto; /* Center the image horizontally */
    margin-left: 20px;
    width: 40px; /* Adjust image size for smaller screens */
    height: 40px;
  }
}

form {
  font-family: roboto;
  position: relative;
  top: 125px;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 600;
  font-size: 1.3rem;
}

label,
select,
output {
  display: block;
  margin: 20px 0;
  width: 100%;
}

select,
input[type="date"] {
  display: block;
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

input[type="date"] {
  width: 97%;
}

input[type="date"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: #009688; /* Border color when focused */
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5); /* Box shadow when focused */
}

/* Style the select when it's hovered */
input[type="date"]:hover {
  border-color: #009688; /* Border color when hovered */
}


input[type="checkbox"] {
  margin: 1px 40px;
  vertical-align: middle;
}

label span {
  display: inline-block; /* Make the span element inline-block */
  vertical-align: middle; /* Align the span vertically with checkbox */
  margin-bottom: 5px; /* Adjust the spacing between checkbox and text */
}

button {
  background-color: #30a396;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  transition: background-color 0.2s ease-in-out;
  display: block;
  margin: 20px auto 10px; /* Centralize button vertically and horizontally */
  font-size: 1.5rem;
  font-weight: 600;
}

button:hover {
  background-color: #14736a;
}

button:active {
  background-color: #c2bbbb;
}

output {
  font-weight: bold;
  font-size: 20px;
}

#facility-ac {
  position: absolute;
  left: 555px;
  width: 20px;
  height: 20px;
}

#facility-open-roof {
  position: absolute;
  left: 555px;
  width: 20px;
  height: 20px;
}


/* Style the select element */
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fff; /* Background color for the select */
  color: #333; /* Text color for the select */
}

/* Style the options in the dropdown */
select option {
  background-color: #f8f8f8; /* Background color for options */
  color: #333; /* Text color for options */
  padding: 8px;
}

/* Style the select when it's focused */
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #009688; /* Border color when focused */
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5); /* Box shadow when focused */
}

/* Style the select when it's hovered */
select:hover {
  border-color: #009688; /* Border color when hovered */
}

/* Style the select when an option is hovered */
select option:hover {
  background-color: #e0e0e0; /* Background color for hovered option */
}

#cost-label, #cost {
  position: relative;
  left: 225px;
}

#cost {
  margin-right: 460px;
}

.cost-bar {
  display: flex;
  flex-direction: row;
}