/* Setting background color for the body */
body {
  background-color: #d0eae7;
  height: 100%;
}

/* Styling for header section */
header {
  color: #333;
  padding: 5px 0;
  text-align: left;
  margin-left: 50px;
  font-family: calibri;
  font-size: 1.8rem;
  position: fixed; /* Fixing the header position */
}

/* Styling for logo image */
img {
  width: 50px;
  height: 50px;
  position: relative; /* Positioning the image */
  top: -95px; /* Adjusting the image position */
  left: 300px; /* Adjusting the image position */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
  
  img {
    display: flex; /* Ensure the image is displayed as a block element */
    margin-left: 0px; /* Adjusting margin for smaller screens */
    margin-top: 35px; /* Adjusting margin for smaller screens */
    width: 40px; /* Adjust image size for smaller screens */
    height: 40px; /* Adjust image size for smaller screens */
  }
}

/* Styling for form */
form {
  font-family: roboto;
  position: relative;
  top: 125px; /* Adjusting position */
  margin: 0 auto; /* Centering the form horizontally */
  width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for labels */
label {
  font-weight: 600;
  font-size: 1.3rem;
}

/* Styling for labels, select, and output elements */
label,
select,
output {
  display: block;
  margin: 20px 0;
  width: 100%;
}

/* Styling for select and input[type="date"] elements */
select,
input[type="date"] {
  display: block;
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Additional styling for input[type="date"] */
input[type="date"] {
  width: 97%;
}

/* Styling for input[type="date"] when focused */
input[type="date"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: #009688; /* Border color when focused */
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5); /* Box shadow when focused */
}

/* Styling for checkboxes */
input[type="checkbox"] {
  margin: 1px 40px;
  vertical-align: middle;
}

/* Styling for labels accompanying checkboxes */
label span {
  display: inline-block; /* Make the span element inline-block */
  vertical-align: middle; /* Align the span vertically with checkbox */
  margin-bottom: 5px; /* Adjust the spacing between checkbox and text */
}

/* Styling for button */
button {
  background-color: #30a396;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  transition: background-color 0.2s ease-in-out;
  display: block;
  margin: 20px auto 10px; /* Centralize button vertically and horizontally */
  font-size: 1.5rem;
  font-weight: 600;
}

/* Hover effect for button */
button:hover {
  background-color: #14736a;
}

/* Active effect for button */
button:active {
  background-color: #c2bbbb;
}

/* Styling for output element */
output {
  font-weight: bold;
  font-size: 20px;
}

/* Styling for A/C checkbox */
#facility-ac {
  position: absolute;
  left: 555px;
  width: 20px;
  height: 20px;
}

/* Styling for open roof checkbox */
#facility-open-roof {
  position: absolute;
  left: 555px;
  width: 20px;
  height: 20px;
}

/* Styling for select element */
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fff; /* Background color for the select */
  color: #333; /* Text color for the select */
}

/* Styling for options in the dropdown */
select option {
  background-color: #f8f8f8; /* Background color for options */
  color: #333; /* Text color for options */
  padding: 8px;
}

/* Styling for select when focused */
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #009688; /* Border color when focused */
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5); /* Box shadow when focused */
}

/* Styling for select when hovered */
select:hover {
  border-color: #009688; /* Border color when hovered */
}

/* Styling for options in the dropdown when hovered */
select option:hover {
  background-color: #e0e0e0; /* Background color for hovered option */
}

/* Styling for cost label and output */
#cost-label, #cost {
  position: relative;
  left: 225px; /* Adjusting position */
}

/* Styling for cost output */
#cost {
  margin-right: 460px; /* Adjusting margin */
}

/* Styling for cost bar */
.cost-bar {
  display: flex;
  flex-direction: row;
}

/* Styling for footer */
footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #555;
}

/* Styling for footer paragraph */
footer p {
  margin: 0;
}
